<html>
  <body>
    <h1><%= title%></h1>
    <p>Welcome to <%= title%></p>
    <form method="get" action="/xml">
      <label for="url">XML URL:</label>
      <input type="text" name="url" />
      <input type="submit" name="" />
    </form>
    <% if(data != ''){ %>
    <div>
      <% data.breakfast_menu.food.forEach(function(food){ %>
      <div class="container-fluid clear">
        <h2><%= food.name%></h2>
        <div><%-food.description%></div>
        <div>Calories: <%-food.calories%></div>
        <div>Price: <%-food.price%></div>
      </div>
      <% }); %>
    </div>
    <% } %>
  </body>
</html>
